.header{
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
}
nav.header a{
    text-decoration: none;
    color: #FFFFFF;
}
nav.header a:hover{
    color: orange;
}
.navbar{
    display: flex;
    gap: 30px;
}